{% extends './layout.html' %}

{% block content %}
<h2>Users</h2>

<ul class="list-group">
  {% if users.length === 0 %}
    <p class="alert alert-warning">No users left.</p>
  {% endif %}

  {% for user in users %}
    <li class="list-group-item">
      <p>{{ user.name }}</p>
      {% if (user.manager) %}
        <label class="label label-success">Manager</label>
      {% else %}
      <form class="form-inline" style="display: inline-block;"  action="/users/{{ user.id }}?_method=PUT" method="POST">
        <input type="hidden" name="manager" value="true">
        <input type="hidden" name="id" value="{{ user.id }}">
        <button class="btn btn-primary btn-sm form-control" type="submit">Make Manager</button>
      </form>
      <form class="form-inline" style="display: inline-block;" action="/users/{{ user.id }}?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{ user.id }}">
        <button class="btn btn-danger btn-sm form-control" type="submit">Delete User</button>
      </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock %}
